.header {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .headermenu {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
  }
  .body {
    background: gray;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    flex: none;
    background-color: #5459a0;
    border-bottom: 1px solid #000;
  }
  
  .content {
    display: flex;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
  }
  
  .chats {
    overflow-y: auto;
    width: 20%;
    background-color: #5459a0;
    border-right: 1px solid #000;
  }
  
  .messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #6e72a0;
  }
  
  .messages > div:nth-child(1) {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px 10px;
  }
  
  .messages > div:nth-child(2) {
    height: 50px;
    flex: none;
    background-color: #3b42a1;
  }
  .navlink {
      position: relative;
      z-index: 1;
  }
  .headerchat {
      color:  white;
      font-size: 20px;
  }
